# Core Streamlit dependencies
streamlit

# For reading environment variables
python-dotenv==1.0.1

# LangChain framework and integrations
langchain
langchain-core
langchain-community
langchain-openai

# Document loading and processing
unstructured[pdf]==0.14.4
pypdf==4.2.0

# Vector storage and embeddings
chromadb==0.5.0
onnxruntime==1.17.1
openai==1.31.1
tiktoken==0.7.0
